ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
li {
  float: right;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #FFFFFF;
}


.name{
  position: relative;
  padding-left: 700px;
  padding-top: 100px
}
.name p{
  margin-left: 40px;
}
p {
  text-align: left;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
